*{
    /* outline: 1px dotted red; */
    margin: 0;
    padding-top: 0;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 970px;
    height: 140px;


}
#logo{
    outline: 5px solid gray;
    width: 100px;
    height: 100px;
}
#tree{
    outline: 5px solid gray;
    width: 100px;
    height: 100px;
}
#log{
    width: 970px;
    height: 500px;
    background: radial-gradient(gray,#c4dee9);
    background-image: linear-gradient(to bottom left, gray, #c4dee9);
}
.log{
    /* width: 220px; */
    /* margin: 30px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 360px;
    padding-top: 40px;
}
.login{
    
    padding: 20px;
    width: 250px;

}
.btn {
    background-color: gray;
    font-size: medium;
    padding: 5px;
    margin: 5px;
}
.btn a{
    color: #c4dee9;
    text-decoration: none;
}

