<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
</head>
<body>
    <!-- <div class="main">
        <img id='logo' src="{% static 'CSS/images/DialaCaregiver Logo - Original - 5000x5000.png' %}" />
    </div> -->

    <div id="log">
        <header class="head">
            <img id='logo' src="{% static 'images/DialaCaregiver Logo - Original - 5000x5000.png' %}" />
            <h1>Welcome to Dial-a-Caregiver</h1>
            <img id='tree' src="{% static 'images/tree_on_the_beach.png' %}" />

        </header>
        <form class = "log" action = "/login" method ="POST">
            {% csrf_token %}

            <div class="login">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" >
            </div>
            <div class="login">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" >
            </div>
            <button class="btn btn-primary"><a href="/send">Log in</a></button>

            <!-- <button class="btn btn-primary">Log In</button> -->
        </form>
    </div>   
    
</body>
</html>