<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
    <style type="text/CSS">
        .reg1 {
            background-image: url("{% static 'images/tree_on_the_beach.png'%}");
            background-size: cover;
            /* background-attachment: fixed; */
            position: relative;
            /* background-size: contain; */
            background-position: center center;
            /* background-repeat: no-repeat; */
            width: 140vw;
            height: 100vh;

        }
    </style>

</head>
<body>
    <div class="reg1">
        <div class="reg2">
            
            <header class="head">
                <img id='logo' src="{% static 'images/DialaCaregiver Logo - Original - 5000x5000.png' %}" />
                <h1>Welcome to Dial-a-Caregiver</h1>
                <img id='tree' src="{% static 'images/tree_on_the_beach.png' %}" />
            </header>
            <form class = "log" action = "/login_user" method ="POST">
                {% csrf_token %}
    
                <div class="login">
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>
                <div class="login">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <button class="btn btn-primary"><a href="/send">Log in</a></button>
                <button class="btn btn-primary"><a href="/home">Home</a></button>

            </form>
            
        
        </div>
    </div>

    
</body>
</html>