<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <div class="main">
        <img id='logo' src="{% static 'CSS/images/DialaCaregiver Logo - Original - 5000x5000.png' %}" />
        <h1 id="main_title">D i a l - a - C a r e g i v e r</h1>
        <img id='tree' src="{% static 'CSS/images/tree_on_the_beach.png' %}" />
    </div>
    <div class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/register">Registration</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="/requestQuote">Request a Quote</a></li>
        </ul>
    </div>
    <div class='info'>

        <h2>Time management. How to stop waisting your time. There's no time to waist.</h2>
        <h3>Try our 90 day free trial. Send one SMS message to all selected staff memmbers with one click.</h3>
        <h4>Loosing = nothing, gaining = time ( the most expensive thing in the business)</h4>
        <h5> No obligations and no credit card required. </h5>
    </div>
    <footer>@2021 Dial-a-Caregiver; All rights reserved</footer>
    
    

    
</body>
</html>