<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <div class="main">
        <img id='logo' src="{% static 'CSS/images/DialaCaregiver Logo - Original - 5000x5000.png' %}" />
        <h1 id="main_title">D i a l - a - C a r e g i v e r</h1>
        <img id='tree' src="{% static 'CSS/images/tree_on_the_beach.png' %}" />
    </div>
    <div class="navbar">
        
    </div>
    
    

    
</body>
</html>