<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nurses list</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/nurses.css' %}">
    <style type="text/CSS">
        .reg1 {
            background-image: url("{% static 'images/grass.png'%}");
            background-size: cover;
            position: relative;
            background-position: center center;
            width: 100vw;
            height: 100vh;

        }
    </style>

</head>
<body>
    <div class="reg1">
        <div class="reg2">
            <header class="head">
                <img id='logo' src="{% static 'images/DialaCaregiver Logo - Original - 5000x5000.png' %}" />
                <h1 id="nurses">Nurses</h1>
                <img id='grass' src="{% static 'images/grass.png' %}" />
            </header>
            <table id = 'top'>
                <thead>
                    <tr>
                        <th class="thead">First name</th>
                        <th class="thead">Last name</th>
                        <th class="thead">Telephone number</th>
                        <th class="thead">Email</th>
                        <th class="thead">Remove</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    {% for nurse in nurses %}
                    <tr>
                        <td>{{nurse.first_name}}</td>
                        <td>{{nurse.last_name}}</td>
                        <td>{{nurse.tel}}</td>
                        <td>{{nurse.email}}</td>
                        <td> <a href ='/nurse/{{nurse.id}}/delete'>Remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>