<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/register.css' %}">
    <style type="text/CSS">
        .reg1 {
            background-image: url("{% static 'images/beach_stones.png'%}");
            background-size: cover;
            position: relative;
            background-position: center center;
            width: 140vw;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="reg1">
        <div class='reg2'>
            <header class="head">
                <img id='logo' src="{% static 'images/DialaCaregiver Logo - Original - 5000x5000.png' %}" />
                <h1 id="registration">Registration</h1>
                <img id='beach_stone' src="{% static 'images/beach_stones.png' %}" />
            </header>
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form id = "reg" action = "/register_user" method ="POST">
                {% csrf_token %}

                <div class="register">
                    <input type="text" name="first_name" id="first_name" placeholder="Organization name">
                </div>
                <div class="register">
                    <input id="telNo" name="telNo" type="tel"placeholder=" Tel. 123-456-7890">
                </div>
                <div class="register">
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>
                <div class="register">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="register">
                    <input type="password" name="pw_confirm" id="pw_confirm" placeholder="Confirm Password">
                </div>
                <button class="btn btn-warning">Register</button>
                <button class="btn btn-primary"><a href="/home">Home</a></button>
            </form>
        </div>
    </div>
</body>
</html>